<p id="notice"><%= notice %></p>

<h1>Reminds</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Title</th>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reminds.each do |remind| %>
      <tr>
        <td><%= Email.find_by_id(remind.email_id).email %></td>
        <td><%= remind.title %></td>
        <td><%= remind.schedule %></td>
        <td><%= link_to 'Show', remind %></td>
        <td><%= link_to 'Edit', edit_remind_path(remind) %></td>
        <td><%= link_to 'Destroy', remind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Remind', new_remind_path %>
