<html>
  <div class="pad">
    <div id="header_text">
      <h2>List of all Past Reminders</h2><br>
      <h3 style="color:red"><%= flash[:notice] %></h3>
      <%= form_tag(listallsentreminders_path, :method => "get") do %>
        <%= text_field_tag :search, nil, :placeholder =>"E-mail address" %>
        <%= submit_tag "Search" %>
      <% end %>
    </div><br>
    <%= link_to 'List Scheduled Reminders', listallreminders_path %>
    <%= form_tag destroy_multiple_reminds_path, method: :delete do %> <!-- Form for selecting multiple reminders to delete. -->
    <table>
      <thead>
          <th>Select to delete</th>
          <th>Email address</th>
          <th>Subject</th>
          <th>Was sent on</th>
          <th>Created on</th>
    
        </tr>
      </thead>
    
      <tbody>
        <% @reminders.where(:sent => true).each do |reminder| %> <!-- List only already sent reminders (where "sent" = true) -->
          <tr>
            <td><%= check_box_tag "reminds[]", reminder.id %></td>
            <td><%= Email.find_by_id(reminder.email_id).email %></td>
            <td><%= truncate(reminder.title, :length => 50) %></td> <!-- Allow only 50 simbols to be displayed in list view. -->
            <td><%= reminder.schedule.strftime("%Y-%m-%d %H:%M:00") %></td> 
            <td><%= reminder.created_at.strftime("%Y-%m-%d %H:%M:00") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="optlink">
    <%= submit_tag "Delete selected", data: { confirm: 'Are you sure want to delete selected?' } %>
    <% end %>
  </div>
</html>