<div class="main">
<% if current_user == @user %> <!-- Checking if user is admin or if user trying to access his own account -->
  <h2><%= @user.email %> </h2>
  <br/>
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited user from being saved:</h2>
  
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, placeholder: 'Password' %>
    </div>
    <div class="actions">
      <%= f.submit 'Update details' %>
    </div>
  <% end %>
</div>
<% else %>
  <h2>You are not authorized to view this account.</h2>
<% end %>