<h3 style="color: white">RemindMail team is always happy to receive messages from you.</h3>
    <%= simple_form_for @contact do |f| %>
    <div class="pad">
    <table>
        <tr>
          <td><%= f.input :name, :required => true, input_html: {class: 'contactform'} %> </td>
          <td><%= f.input :email, :required => true,  input_html: {class: 'contactform'} %> </td>
        </tr>
        <tr>
          <td colspan="2"> <%= f.input :message, :as => :text, :required => true, input_html: {class: 'contactform'} %> </td>
        </tr>
        </br>
      </table>
      </div>
      <div class="optlink">
      <tr>
        <td colspan="2"> <%= f.button :submit, 'Send message' %> </td>
      </tr>
      <% end %>
</div>
